/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&display=swap'); */

* {
    font-family: 'Monomaniac One', sans-serif;
}

:root {
    --bg-color: #000000;
    --second-bg-color: #4C4C4C;
    --main-color: #7A7A7A;
    --second-color: #B7AFAC;
    --text-color: #F7F5F6;
}

body {
    background: var(--bg-color);
    width: 100%;
}

.swiper-slide .card {
    background-color: red;
}